<h3> Coffee Pagination</h3>
<div class="row">
    <div class="col-xs-12">
        <table class="list-group-item clearfix">
       
            <tbody>
                <ng-container *ngIf='coffees$ | async as coffees'>
                    <tr *ngFor="let coffee of coffees| paginate:{
                        itemsPerPage: 10,
                        currentPage:this.currentPage,
                        totalItems: 50 
                        } ; let k=index">
                        {{coffee.id}},&nbsp;&nbsp;{{coffee.uid}},&nbsp;&nbsp;{{coffee.blend_name}},&nbsp;&nbsp;{{coffee.origin}},&nbsp;&nbsp;{{coffee.variety}},&nbsp;&nbsp;
                        {{coffee.notes}},&nbsp;&nbsp;{{coffee.intensifier}}
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div>
            <pagination-controls 
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="ontableDataChange($event)"
            >
            </pagination-controls>
        </div>
    </div>
</div>